APP_ID=gemini
APP_SECRET=AIzaSyDGeugK3t1IcdubHmZIQNLe3a2hDVzUCqs

DATABASE_URL=mysql://root:QhTXPaMbjqSWBcYZwKYWxMPcvrIzfQMq@hopper.proxy.rlwy.net:40484/railway

VITE_KIMI_AUTH_URL=https://generativelanguage.googleapis.com
VITE_APP_ID=gemini

KIMI_AUTH_URL=https://generativelanguage.googleapis.com
KIMI_OPEN_URL=https://generativelanguage.googleapis.com

OWNER_UNION_ID=admin